/*   #e50914 -- red 
    #181818 -- background  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background: #181818;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 5.7rem;
    background: #000;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    position: fixed;
    top: 0;
    z-index: 9;
}

.svg-icon{
    width: 11rem;
}

.right-content{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: auto;
}

.right-content p{
    font-size: 1.5rem;
    margin-right: 10px;
}

.btn{
    width: 10rem;
    padding: 8px 10px;
    margin: 0 5px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.join-btn{
    background: #e50914;
    border: none;
}

.banner{
    width: 100%;
    margin-top: 5rem;
    height: 400px;
    background: #1f1f1f;
    color: #fff;
    text-transform: capitalize;
    padding: 3rem 3vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner .banner-img{
    position: absolute;
    user-select: none;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.banner .banner-heading{
    z-index: 3; 
    position: relative;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.banner p{
    z-index: 3;
    position: relative;
    font-size: 1.4rem;
    width: 60%;
}

.tranding-container,
.popular-container,
.latest-container,
.toprated-container{
    width: 100%;
    min-height: 300px;
    padding: 2rem 3.7rem;
    margin-top: 4rem;
    position: relative;
}

.toprated-container{
    margin-bottom: 8rem !important;
}

.action-container,
.science-container,
.adventure-container,
.comedy-container,
.thriller-container{
    width: 100%;
    min-height: 150px;
    padding: 2rem 3.7rem;
    margin-top: 2rem;
    position: relative;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cards-container{
    width: 100%;
    height: 100%;
    /* background: #000; */
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
}

.cards-container::-webkit-scrollbar{
    display: none;
}

.cards-container .card {
    height: 100%;
    transition: .3s;
    min-width: 156px;
    width: 156px;
    cursor: pointer;
    position: relative;
    /* background: #2ff; */
    margin-right: 0px;
    transform: scale(0.9);
}

.card:hover{
    transform: scale(1);
}

.cards-container .card img{
    width: 100%;
    height: 100%;
}

.genres .card{
    height: 150px !important;
}

.cards-container .card .title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.5;
}

.pre, .nxt{
    color: #e50914;
    z-index: 2;
    opacity: 0.5;
    font-size: 3rem;
    position: absolute;
    height: 250px;
    cursor: pointer;
    line-height: 250px;
    width: 3rem;
    user-select: none;
}

.genres .pre,
.genres .nxt{
    height: 150px;
    top: 20px;

}

.pre{
    left: 1.5rem;
    top: 70px;

}

.nxt{
    right: 0rem;
    top: 70px;
}

.pre:hover, .nxt:hover{
    opacity: 1;
}

.video{
    width: 100%;
    /* height: 400px; */
    transition: .5s;
    background: rgb(27, 27, 27);
    position: relative;
    height: 0;
    overflow: hidden;
}

.video iframe{
    width: 90%;
    display: block;
    margin: auto;
    height: 100%;
}

@media screen and (max-width: 700px){
    .banner{
        height: 250px;
    }
    .banner p{
        max-height: 45px;
        overflow: hidden;
    }
    .right-content p{
        display: none;
    }
    .video{
        max-height: 300px;
    }
    .banner-img{
        height: 120% !important;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 8px;
    }
    .banner{
        padding: 0 40px;
    }
    .video{
        max-height: 205px;
    } 
    nav{
        padding: 30px !important;
    }
    .btn{
        width: 11rem;
    }
}